<%- include('layout.ejs'); %>
    <div>
      <h2>Welcome back!</h2>
      <section class="loginFormContainer">
        <h5>Login</h5>
        <form ref="{form}" onSubmit="{sendEmail}" class="LoginForm">
          <label class="formtext">Your Email</label>
          <input
            class="emailInput"
            type="text"
            placeholder="Enter Your Email"
            name="email"
            required
          />
          <label class="formtext">Password</label>
          <input
            class="passwordInput"
            type="password"
            placeholder="Enter Your Password"
            name="password"
            required
          />
          <button type="submit" class="loginBtn">Login</button>
          <a href="http://localhost:8080/register">Register</a>
        </form>
      </section>
    </div>
  </body>
</html>
